<!DOCTYPE html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>thomass</title>
		<link href="/output.css" rel="stylesheet" />
	</head>
	<body class="min-h-screen flex flex-col">
		<%- include('navbar') %>
		<main class="grow py-10 px-4">
			<div class="max-w-7xl w-full mx-auto">
				<h1 class="text-6xl font-bold">Instruments</h1>

				<div class="flex justify-between items-center py-4 text-lg font-medium mt-4">
					<select name="sort" class="cursor-pointer">
						<option value="" disabled selected>Sorting</option>
						<option value="price">Price: low to high</option>
						<option value="-price">Price: high to low</option>
						<option value="name">Alphabetically (A-Z)</option>
						<option value="-name">Alphabetically (Z-A)</option>
					</select>

					<select name="limit" class="cursor-pointer">
						<option value="3">3 results</option>
						<option value="5" selected>5 results</option>
						<option value="10">10 results</option>
					</select>
				</div>

				<hr class="border-neutral-300" />

				<div class="md:mt-10 flex flex-col gap-4">
					<% products.forEach((product) => { %>
						<a href="/product/<%= product.id %>" class="text-left cursor-pointer h-48 group rounded-md overflow-clip bg-neutral-100 flex gap-4">
							<div class="h-48 w-48 overflow-clip">
								<img src="<%= product.image %>" class="h-full w-auto mx-auto transition-transform" />
							</div>
							<div class="py-4">
								<div class="text-xl group-hover:text-sky-700"><%= product.name %></div>
								<div class="mt-2"><%= product.description %></div>
							</div>
							<div class="ml-auto pr-4 py-4 font-bold text-3xl">&euro; <%= product.price %></div>
						</a>
					<% }); %>
				</div>
			</div>
		</main>

		<footer class="bg-black text-white px-4">
			<div class="w-full mx-auto max-w-7xl py-8 opacity-85 text-sm">please don't sue me <3</div>
		</footer>

		<script>
			const initialParams = new URLSearchParams(location.search);
			document.querySelectorAll('select').forEach((select) => {
				if(value = initialParams.get(select.name)) {
					if((option = select.querySelector(`option[value="${value}"]`)) !== undefined) {
						option.selected = true;
					}
				}

				select.onchange = () => {
					const params = new URLSearchParams(location.search);
					params.set(select.name, select.value);
					location.href = `/list?${params.toString()}`
				}
			})
		</script>
	</body>
</html>
